ClienteSoap/src/META-INF/wsdl/localhost_8080/CalculatorWS/ServidorSoapSD.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicoSoap.trabalho.sistemas.distribuidos/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicoSoap.trabalho.sistemas.distribuidos/" name="CalculatorWS">
<types>
<xsd:schema>
<xsd:import namespace="http://servicoSoap.trabalho.sistemas.distribuidos/" schemaLocation="http://localhost:8080/CalculatorWS/ServidorSoapSD?xsd=1"/>
</xsd:schema>
</types>
<message name="buscarCep">
<part name="parameters" element="tns:buscarCep"/>
</message>
<message name="buscarCepResponse">
<part name="parameters" element="tns:buscarCepResponse"/>
</message>
<message name="excluir">
<part name="parameters" element="tns:excluir"/>
</message>
<message name="excluirResponse">
<part name="parameters" element="tns:excluirResponse"/>
</message>
<message name="inserir">
<part name="parameters" element="tns:inserir"/>
</message>
<message name="inserirResponse">
<part name="parameters" element="tns:inserirResponse"/>
</message>
<message name="buscarContato">
<part name="parameters" element="tns:buscarContato"/>
</message>
<message name="buscarContatoResponse">
<part name="parameters" element="tns:buscarContatoResponse"/>
</message>
<portType name="ServidorSoapSD">
<operation name="buscarCep">
<input wsam:Action="http://servicoSoap.trabalho.sistemas.distribuidos/ServidorSoapSD/buscarCepRequest" message="tns:buscarCep"/>
<output wsam:Action="http://servicoSoap.trabalho.sistemas.distribuidos/ServidorSoapSD/buscarCepResponse" message="tns:buscarCepResponse"/>
</operation>
<operation name="excluir">
<input wsam:Action="http://servicoSoap.trabalho.sistemas.distribuidos/ServidorSoapSD/excluirRequest" message="tns:excluir"/>
<output wsam:Action="http://servicoSoap.trabalho.sistemas.distribuidos/ServidorSoapSD/excluirResponse" message="tns:excluirResponse"/>
</operation>
<operation name="inserir">
<input wsam:Action="http://servicoSoap.trabalho.sistemas.distribuidos/ServidorSoapSD/inserirRequest" message="tns:inserir"/>
<output wsam:Action="http://servicoSoap.trabalho.sistemas.distribuidos/ServidorSoapSD/inserirResponse" message="tns:inserirResponse"/>
</operation>
<operation name="buscarContato">
<input wsam:Action="http://servicoSoap.trabalho.sistemas.distribuidos/ServidorSoapSD/buscarContatoRequest" message="tns:buscarContato"/>
<output wsam:Action="http://servicoSoap.trabalho.sistemas.distribuidos/ServidorSoapSD/buscarContatoResponse" message="tns:buscarContatoResponse"/>
</operation>
</portType>
<binding name="ServidorSoapSDPortBinding" type="tns:ServidorSoapSD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="buscarCep">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="excluir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarContato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculatorWS">
<port name="ServidorSoapSDPort" binding="tns:ServidorSoapSDPortBinding">
<soap:address location="http://localhost:8080/CalculatorWS/ServidorSoapSD"/>
</port>
</service>
</definitions>