ClienteSoap/src/META-INF/wsdl/localhost_8080/CalculatorWS/ServidorSoapSD.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicoSoap.trabalho.sistemas.distribuidos/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicoSoap.trabalho.sistemas.distribuidos/">

<xs:element name="alterarContato" type="tns:alterarContato"/>

<xs:element name="alterarContatoResponse" type="tns:alterarContatoResponse"/>

<xs:element name="buscarCep" type="tns:buscarCep"/>

<xs:element name="buscarCepResponse" type="tns:buscarCepResponse"/>

<xs:element name="buscarCidade" type="tns:buscarCidade"/>

<xs:element name="buscarCidadeResponse" type="tns:buscarCidadeResponse"/>

<xs:element name="buscarContato" type="tns:buscarContato"/>

<xs:element name="buscarContatoResponse" type="tns:buscarContatoResponse"/>

<xs:element name="excluirContato" type="tns:excluirContato"/>

<xs:element name="excluirContatoResponse" type="tns:excluirContatoResponse"/>

<xs:element name="inserirCep" type="tns:inserirCep"/>

<xs:element name="inserirCepResponse" type="tns:inserirCepResponse"/>

<xs:element name="inserirCidade" type="tns:inserirCidade"/>

<xs:element name="inserirCidadeResponse" type="tns:inserirCidadeResponse"/>

<xs:element name="inserirContato" type="tns:inserirContato"/>

<xs:element name="inserirContatoResponse" type="tns:inserirContatoResponse"/>

<xs:element name="listarCidade" type="tns:listarCidade"/>

<xs:element name="listarCidadeResponse" type="tns:listarCidadeResponse"/>

<xs:element name="listarContato" type="tns:listarContato"/>

<xs:element name="listarContatoResponse" type="tns:listarContatoResponse"/>

<xs:complexType name="listarCidade">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarCidadeResponse">
<xs:sequence>
<xs:element name="return" type="tns:cidade" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cidade">
<xs:sequence>
<xs:element name="ceps" type="tns:cep" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="codigo" type="xs:int"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cep">
<xs:sequence>
<xs:element name="cep" type="xs:int"/>
<xs:element name="cidade" type="tns:cidade" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarContato">
<xs:sequence>
<xs:element name="cidade" type="tns:cidade" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarContatoResponse">
<xs:sequence>
<xs:element name="return" type="tns:contato" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="contato">
<xs:sequence>
<xs:element name="cep" type="tns:cep" minOccurs="0"/>
<xs:element name="codigo" type="xs:int"/>
<xs:element name="complemento" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="emailAlternativo" type="xs:string" minOccurs="0"/>
<xs:element name="endereco" type="xs:string" minOccurs="0"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirContato">
<xs:sequence>
<xs:element name="contato" type="tns:contato" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirContatoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirCep">
<xs:sequence>
<xs:element name="cep" type="tns:cep" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirCepResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alterarContato">
<xs:sequence>
<xs:element name="contato" type="tns:contato" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alterarContatoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarCidade">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarCidadeResponse">
<xs:sequence>
<xs:element name="return" type="tns:cidade" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirCidade">
<xs:sequence>
<xs:element name="cidade" type="tns:cidade" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirCidadeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="excluirContato">
<xs:sequence>
<xs:element name="codigo" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="excluirContatoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarContato">
<xs:sequence>
<xs:element name="codigo" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarContatoResponse">
<xs:sequence>
<xs:element name="return" type="tns:contato" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarCep">
<xs:sequence>
<xs:element name="cep" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarCepResponse">
<xs:sequence>
<xs:element name="return" type="tns:cep" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>