ClienteSoap/src/META-INF/wsdl/localhost_8080/CalculatorWS/ServidorSoapSD.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicoSoap.trabalho.sistemas.distribuidos/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicoSoap.trabalho.sistemas.distribuidos/" name="CalculatorWS">
<types>
<xsd:schema>
<xsd:import namespace="http://servicoSoap.trabalho.sistemas.distribuidos/" schemaLocation="http://localhost:8080/CalculatorWS/ServidorSoapSD?xsd=1"/>
</xsd:schema>
</types>
<message name="buscarCep">
<part name="parameters" element="tns:buscarCep"/>
</message>
<message name="buscarCepResponse">
<part name="parameters" element="tns:buscarCepResponse"/>
</message>
<message name="inserirCep">
<part name="parameters" element="tns:inserirCep"/>
</message>
<message name="inserirCepResponse">
<part name="parameters" element="tns:inserirCepResponse"/>
</message>
<message name="buscarCidade">
<part name="parameters" element="tns:buscarCidade"/>
</message>
<message name="buscarCidadeResponse">
<part name="parameters" element="tns:buscarCidadeResponse"/>
</message>
<message name="buscarContato">
<part name="parameters" element="tns:buscarContato"/>
</message>
<message name="buscarContatoResponse">
<part name="parameters" element="tns:buscarContatoResponse"/>
</message>
<message name="inserirContato">
<part name="parameters" element="tns:inserirContato"/>
</message>
<message name="inserirContatoResponse">
<part name="parameters" element="tns:inserirContatoResponse"/>
</message>
<message name="inserirCidade">
<part name="parameters" element="tns:inserirCidade"/>
</message>
<message name="inserirCidadeResponse">
<part name="parameters" element="tns:inserirCidadeResponse"/>
</message>
<message name="excluirContato">
<part name="parameters" element="tns:excluirContato"/>
</message>
<message name="excluirContatoResponse">
<part name="parameters" element="tns:excluirContatoResponse"/>
</message>
<portType name="ServidorSoapSD">
<operation name="buscarCep">
<input wsam:Action="http://servicoSoap.trabalho.sistemas.distribuidos/ServidorSoapSD/buscarCepRequest" message="tns:buscarCep"/>
<output wsam:Action="http://servicoSoap.trabalho.sistemas.distribuidos/ServidorSoapSD/buscarCepResponse" message="tns:buscarCepResponse"/>
</operation>
<operation name="inserirCep">
<input wsam:Action="http://servicoSoap.trabalho.sistemas.distribuidos/ServidorSoapSD/inserirCepRequest" message="tns:inserirCep"/>
<output wsam:Action="http://servicoSoap.trabalho.sistemas.distribuidos/ServidorSoapSD/inserirCepResponse" message="tns:inserirCepResponse"/>
</operation>
<operation name="buscarCidade">
<input wsam:Action="http://servicoSoap.trabalho.sistemas.distribuidos/ServidorSoapSD/buscarCidadeRequest" message="tns:buscarCidade"/>
<output wsam:Action="http://servicoSoap.trabalho.sistemas.distribuidos/ServidorSoapSD/buscarCidadeResponse" message="tns:buscarCidadeResponse"/>
</operation>
<operation name="buscarContato">
<input wsam:Action="http://servicoSoap.trabalho.sistemas.distribuidos/ServidorSoapSD/buscarContatoRequest" message="tns:buscarContato"/>
<output wsam:Action="http://servicoSoap.trabalho.sistemas.distribuidos/ServidorSoapSD/buscarContatoResponse" message="tns:buscarContatoResponse"/>
</operation>
<operation name="inserirContato">
<input wsam:Action="http://servicoSoap.trabalho.sistemas.distribuidos/ServidorSoapSD/inserirContatoRequest" message="tns:inserirContato"/>
<output wsam:Action="http://servicoSoap.trabalho.sistemas.distribuidos/ServidorSoapSD/inserirContatoResponse" message="tns:inserirContatoResponse"/>
</operation>
<operation name="inserirCidade">
<input wsam:Action="http://servicoSoap.trabalho.sistemas.distribuidos/ServidorSoapSD/inserirCidadeRequest" message="tns:inserirCidade"/>
<output wsam:Action="http://servicoSoap.trabalho.sistemas.distribuidos/ServidorSoapSD/inserirCidadeResponse" message="tns:inserirCidadeResponse"/>
</operation>
<operation name="excluirContato">
<input wsam:Action="http://servicoSoap.trabalho.sistemas.distribuidos/ServidorSoapSD/excluirContatoRequest" message="tns:excluirContato"/>
<output wsam:Action="http://servicoSoap.trabalho.sistemas.distribuidos/ServidorSoapSD/excluirContatoResponse" message="tns:excluirContatoResponse"/>
</operation>
</portType>
<binding name="ServidorSoapSDPortBinding" type="tns:ServidorSoapSD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="buscarCep">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserirCep">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarCidade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarContato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserirContato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserirCidade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="excluirContato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculatorWS">
<port name="ServidorSoapSDPort" binding="tns:ServidorSoapSDPortBinding">
<soap:address location="http://localhost:8080/CalculatorWS/ServidorSoapSD"/>
</port>
</service>
</definitions>